<div id="backgroundBody"></div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container d-flex justify-content-between">
        <span class="text-muted">Created by Pedro Garrett & João Fonseca</span>
        <span class="text-muted">Specials thanks to Doctor Rafael Cruz</span>
    </div>
</footer>