<h1> Admin Page </h1>

<div>
  <div class="row">

    {{#each allUsers}}
    <div class="col-md-4">
      <div class="card" style="margin:10px 0; height: 65px;">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between" style="height: 65px;">
            <h5 class="card-title">{{username}}</h5>
            <div class="d-flex flex-row align-items-start" style="width: 90px; height:35px">
              <a href="/user/edit/{{_id}}" role="button">
                <img style="margin-right: 10px;" src="/images/edit.png" alt="delete">
              </a>
              <form class="admin-options" action="/user/delete/{{_id}}" method="POST">
                <button type="submit" style="border: none; background-color: white;">
                  <img class="delete-image" src="/images/del1.png" alt="delete">
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>