<a href="/">main </a><a href="/view">> pathology</a>
<h1>Pathology</h1>



<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{#each allPathlogies}}
            <div><a href="/view/{{this}}">{{this}}</a></div>
            {{/each}}
        </li>

    </ul>
</div>