<a class="header-links" href="/">main </a><a class="header-links" href="/view">> pathologies</a>
<h1>Pathology</h1>



<div class="card" style="width: 28rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{#each allPathlogies}}
            <div><a class="pathologies-subtype" href="/view/{{this}}">{{this}}</a></div>
            {{/each}}
        </li>

    </ul>
</div>